@{
    ViewData["Title"] = "About Us";
}

<h1>About K Beauty</h1>
<p>K-Beauty is about creating healthier skin in the long-term vs. achieving quick, overnight results you can sometimes get with ingredients or products that can actually damage the skin barrier.</p>
<!-- Add more content about the company, headquarters, staff, and product description here -->
